# Folders
vendor/
.idea/
reports/
bin/
public/
.pytest_cache/
.cache

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/.*
*.py[cod]
*$py.class

run.local.sh

# Files
.DS_Store
-template
.scannerwork
service-click2buy-offers
after_output.log
*load-tests-result.txt
test*.out
backtest_result*
